<p-table #dt [value]="trialbalance" [scrollable]="true" scrollHeight="50vh">
    <ng-template pTemplate="header">
        <tr>
            <!-- <th>Id</th> -->
            <th>
                Account Code
            </th>
            <th>Account Name</th>            
            <th>Debit</th>
            <th>Credit</th>          
           
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>{{entry.accountCode}}</td>
            <td>{{entry.accountName}}</td>
            <td>{{entry.debit | number}}</td>
            <td>{{entry.credit | number}}</td>            
           
        </tr>
    </ng-template>

    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td></td>
            <td></td>
            <td>{{getSum('debit') | number}}</td>
            <td>{{getSum('credit') | number}}</td> 
        </tr>
    </ng-template>

    <!-- <ng-template pTemplate="summary">
        There are {{ledgers?.length}} records
    </ng-template> -->
</p-table>
