<div class="component-container ui-g">


  <div class="header ui-g-12">
    <h2>Dashboard</h2>
  </div>

  <ab-statistics label="Assets" value="81,132" icon="fa fa-line-chart" colour="#00ACAC" class="ui-g-12 ui-md-6 ui-lg-3">
  </ab-statistics>


  <ab-statistics label="Liabilities" value="27,835" icon="fa fa-bar-chart" colour="#2F8EE5"
    class="ui-g-12 ui-md-6 ui-lg-3"></ab-statistics>


  <ab-statistics label="Revenue" value="7,763" icon="fa fa-pie-chart" colour="#6C76AF" class="ui-g-12 ui-md-6 ui-lg-3">
  </ab-statistics>


  <ab-statistics label="Expenses" value="4,456" icon="fa fa-area-chart" colour="#EFA64C"
    class="ui-g-12 ui-md-6 ui-lg-3"></ab-statistics>


</div>