<div>
  <h3>Company Form</h3>

  <form [formGroup]="companyForm" (ngSubmit)="save()">

    <div>
      <label for="name">Name*</label>
      <input type="text" name="name" formControlName="companyName" required />
    </div>
    <div>
      <label for="shortName">Short Name</label>
      <input type="text" name="shortName" formControlName="shortName" required />
    </div>
    <div>
      <label for="code">Company Code</label>
      <input type="text" name="code" formControlName="companyCode" required />
    </div>

    <button type="submit" [disabled]="!companyForm.valid">Save</button>

  </form>

</div>