


.journalEntries {
    background-color: white;
    font-family: "Roboto";
  }

  .header {
    padding: 1em;
    color: white;
    background-color: #0275D8;
    margin-bottom: 1em;
  }
  
  h2 {
    font-weight: bolder;
    font-size: xx-large;
    display: inline;
  }

  

  th{
    border-bottom: 1px solid black;
    background-color: teal;
    color: white;
  }
  th{
    text-align: center;
  }

  .scrollableContent
  {
      height:50vh;     
      background-color:#ccc;		
      overflow-y:scroll;
      position:relative;
  }


  
  